<div>
  <style>
    .mw-body {
      padding-bottom: 0;
    }

    .pre-footer-wrapper,
    .footer-wrapper,
    .post-footer-wrapper {
      width: 55.8em;
      margin: 0px auto;
      font-family: 'Linux Libertine', Georgia, Times, serif;
    }

    .pre-footer-wrapper div {
      margin-bottom: 10px;
    }

    .footer-wrapper {
      background-color: white;
      border: 2px solid lightgrey;
      border-radius: 10px;
      margin-bottom: 25px;
    }

    .footer-wrapper a {
      color: #0084b4;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .footer-wrapper a:hover {
      color: #0084b4;
      /* text-decoration: ; */
    }

    .footer-logo,
    .footer-titles,
    .footer-sharing {
      position: relative;
      float: left;
      width: 200px;
      text-align: center;
    }

    .footer-logo {
      width: 100px;
      padding-left: 10px;
    }

    .footer-titles,
    .footer-sharing {
      padding-top: 20px;
    }

    .footer-titles {
      width: 570px;
    }

    .footer-titles-title {
      font-size: 19px;
      margin-bottom: 10px;
      font-weight: bolder;
    }

    .footer-sharing-icons {
      width: 168px;
      margin: 0 auto;
    }

    .footer-sharing-icon {
      width: 32px;
      height: 32px;
      float: left;
      margin: 5px;
    }
  </style>
  <div class="pre-footer-wrapper">
    <div>
      This snapshot was generated and distributed by the
      <a class="external text" href="https://github.com/ipfs/distributed-wikipedia-mirror">Distributed Wikipedia Mirror
        project</a>,
      a global effort, independent from Wikipedia.
    </div>
    <div>
      Created on: {{SNAPSHOT_DATE}} from the
      <a class="external" href="{{ZIM_URL}}">kiwix ZIM file</a>
    </div>
    <div id="footer-ipns-link">
      <!-- Placeholder -->
    </div>
    <div id="footer-http-link">
      <!-- Placeholder -->
    </div>
    <div>
      Original Link:
      <a class="external text ipfs http-ipfs" href="{{CANONICAL_URL}}">{{CANONICAL_URL_DISPLAY}}</a>
    </div>
    <div id="copyright-infringement-link">
      <!-- Placeholder -->
    </div>
    <div>
      Not sure where to start? <a class="external text" href="https://ipfs.io/#install">Download IPFS Here</a>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-logo">
      <img src="{{IMAGES_DIR}}/wikipedia-on-ipfs.png" width="100" />
    </div>
    <div class="footer-titles">
      <div class="footer-titles-title">Distributed Wikipedia Mirror Project</div>
      <div class="footer-titles-subtitle">
        Powered by <a href="https://ipfs.io">IPFS</a>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
