<div>
  <style>
    .mw-body {
      padding-bottom: 0;
    }

    .pre-footer-wrapper,
    .footer-wrapper,
    .post-footer-wrapper {
      width: 55.8em;
      margin: 0px auto;
      font-family: 'Linux Libertine', Georgia, Times, serif;
    }

    .pre-footer-wrapper div {
      margin-bottom: 10px;
    }

    .footer-wrapper {
      background-color: white;
      border: 2px solid lightgrey;
      border-radius: 10px;
      margin-bottom: 25px;
    }

    .footer-wrapper a {
      color: #0084b4;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .footer-wrapper a:hover {
      color: #0084b4;
      /* text-decoration: ; */
    }

    .footer-logo,
    .footer-titles,
    .footer-sharing {
      position: relative;
      float: left;
      width: 200px;
      text-align: center;
    }

    .footer-logo {
      width: 100px;
      padding-left: 10px;
    }

    .footer-titles,
    .footer-sharing {
      padding-top: 20px;
    }

    .footer-titles {
      width: 570px;
    }

    .footer-titles-title {
      font-size: 19px;
      margin-bottom: 10px;
      font-weight: bolder;
    }

    .footer-sharing-icons {
      width: 168px;
      margin: 0 auto;
    }

    .footer-sharing-icon {
      width: 32px;
      height: 32px;
      float: left;
      margin: 5px;
    }
  </style>
  <div class="pre-footer-wrapper">
    <div>
      This snapshot was generated and distributed by the
      <a class="external text" href="https://github.com/ipfs/distributed-wikipedia-mirror">Distributed Wikipedia Mirror
        project</a>
      The Distributed Wikipedia Mirror is a global effort, independent from
      Wikipedia.
    </div>
    <div>
      Created on: {{SNAPSHOT_DATE}} from the
      <a href="{{ZIM_URL}}">kiwix ZIM file
      </a>
    </div>
    <div>
      IPNS Link (most recent):
      <a class="external text dweb ipns" href="/ipns/{{IPNS_HASH}}">/ipns/{{IPNS_HASH}}</a>
    </div>
    <div>
      HTTP Link:
      <a class="external text ipfs http-ipfs" href="{{ARTICLE_URL}}">{{ARTICLE_URL_DISPLAY}}</a>
    </div>
    <div>
      Original Link:
      <a class="external text ipfs http-ipfs" href="{{CANONICAL_URL}}">{{CANONICAL_URL_DISPLAY}}</a>
    </div>
    <div id="copyright-infringement-link">
      <!-- Placeholder -->
    </div>
    <div>
      <a class="external text" href="https://ipfs.io/ipns/dist.ipfs.io/#go-ipfs">Download IPFS Here</a>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-logo">
      <img src="{{IMAGES_DIR}}/wikipedia-on-ipfs.png" width="100" />
    </div>
    <div class="footer-titles">
      <div class="footer-titles-title">Distributed Wikipedia</div>
      <div class="footer-titles-subtitle">
        Powered by <a href="https://ipfs.io">IPFS</a>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <script>
    const copyrightInfringementLinkDiv = document.querySelector('copyright-infringement-link')

    if (window.location.hostname === 'ipfs.io' || window.location.hostname.indexOf('dweb.link') !== -1) {
      document.querySelector('#copyright-infringement-link').innerHTML = 'To report copyright infringement please follow the instructions at <a class="external text" href="https://ipfs.io/legal">https://ipfs.io/legal</a>'
    } else if (['localhost', '127.0.0.1', '[::1]'].indexOf(window.location.hostname) === -1 && window.location.protocol.indexOf('http:') === -1) {
      const domainToolsLink = 'https://whois.domaintools.com/' + window.location.hostname
      document.querySelector('#copyright-infringement-link').innerHTML = 'This content is provided by a third party IPFS gateway. To report copyright infringement please contact the owner of <a class="external text" href="https://whois.domaintools.com/' + window.location.hostname + '">' + window.location.hostname + '</a>'
    }
  </script>
</div>